.LeftPanel {
    float: left;
    width: 250px;
    height: 100%;
    margin: 0px 2px 0px 2px;
}

.ui.accordion .accordion {
    margin: 0px 0px 0px 0px;
}

.left-para {
     margin: 0px 20px 0px 20px;
}

.flags {
     margin: 0px 0px 0px 0px;
}

.layer-name {
    color: black;
}

.layer-name-hidden {
    color: gray;
}

.layer-description {
    font-size: small;
    font-style: italic;
    margin-left: 30px;
}

.layer-description-hidden {
    color: gray;
    font-size: small;
    font-style: italic;
    margin-left: 30px;
}
